# Бинарные файлы (скомпилированные)
# Можно добавить конкретные имена, если они отличаются от названия папки
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
out/

# Зависимости (если вы не используете vendoring)
# Большинство современных проектов используют Go Modules и не хранят папку vendor
# vendor/

# Файлы тестирования и покрытия
*.test
*.out
coverage.txt

# Локальные переменные окружения
.env
.env.local
config.json

# Специфичные файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Логи
*.log